.comments {
  font-family: Arial, Helvetica, sans-serif;
}

.comments h1,
.comment__user-name {
  font-family: 'Austin News Deck Semibold',georgia,times,serif;
}

.comments h1 {
  font-size: 1.25rem;
  font-weight: bold;
}

.comments {
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem;
}

.comments .comments__title-wrapper,
.comments__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 1rem;
}

.comments-count {
  margin-right: 0.25rem;
}

.comments__title-wrapper {
  height: 4.5rem;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

#sorting-likes {
  font-size: 0.75rem;
  margin-right: 1rem;
}

.comments__sorting button {
  height: 2rem;
  width: 4.5rem;
  border-radius: 2rem;
  border: 1px solid;
  cursor: pointer;
}

.comment {
  height: 12rem;
  border-bottom: 1px solid #eee;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.comment,
.comment__user-name {
  margin-bottom: 1.25rem;
}

.comment__user-name {
  font-weight: bold;
}

.comment__content-body {
  font-size: 1rem;
  line-height: 1.25rem;
}

.comment button {
  font-weight: bold;
  font-size: 0.75rem;
  cursor: pointer;
}

/* For large devices */
@media (min-width: 1024px) {
  .comments {
    margin: 2rem 32vw 5rem 16vw;
  }

  .comment {
    flex-direction: row;
    height: 7.5rem;
    align-items: flex-start;
  }

  .comment > button {
    min-width: 5rem;
    text-align: right;
    margin-left: 2.5rem;
    padding: 0;
  }
}