<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keyword" content="The Telegraph, comments">
		<meta name="subject" content="comments">
		<meta name="description" content="The Telegraph comments page">
		<meta name="author" content="Seungmin Kim">
		<link rel="stylesheet" type="text/css" href="static/app.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="static/app.bundle.js" defer></script>
	</head>
	<body>
		{{> header }}
		{{{ body }}}
	</body>
</html>
